<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="trackyou-github" value="https://nuget.pkg.github.com/marllonramos/index.json" />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <trackyou-github>
      <add key="Username" value="marllonramos" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </trackyou-github>
  </packageSourceCredentials>
</configuration>